mixin process-item(data)
    +el({
        class: 'process-item',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        +process-circle({
            icon: data.circle.icon,
            mod: data.circle.mod,
            mix: 'process-item__circle',
        })
        +el({
            class: 'process-item__text',
            text: data.text
        })
