extends ./templates/template

block vars
    - var pageTitle = 'Техальянс'

block content
    main.content.content--regular
      .content__wrap
        ul
            li
                a(href="components.html") Компоненты
            li
                a(href="page-main.html") Главная
            li
                a(href="page-contacts.html") Контакты
            li
                a(href="page-news-list.html") Новости
            li
                a(href="page-news-item.html") Новость
            li
                a(href="page-eqiupment.html") Оборудование
            li
                a(href="page-eqiupment-review.html") Карточка оборудования
            li
                a(href="page-service.html") Услуги
            li
                a(href="page-about.html") О компании
