extends ./templates/template

block vars
    - var pageTitle = 'Продмаш'
    - var pageId = 4

block content
    main.content
        .content__wrap
            //- +breadcrumbs({
            //-     mix: 'content__breadcrumbs',
            //-     items: ['Главная','Новости']
            //- })
            h1.content__heading Новости
            +news-list({
                items: news
            })
            +pagination({
                mix: 'content__pagination',
            })
