extends ./templates/template

block vars
    - var pageTitle = 'Продмаш'
    - var pageId = 2
    //- -
    //-     var = '

block content
    main.content
        .content__wrap
            h1.content__heading Услуги
            +lead({
                text: 'Наша организация оказывает предприятиям консервной промышленности услуги, связанные  с доставкой приобретенного консервного оборудования и запасных частей к нему, а также вводом этого оборудования в эксплуатацию и его эксплуатацией.',
                image: 'conveyor.jpg',
                mix: 'content__lead',
            })
            .content__posts
                .post-list
                    article.post.post-list__item
                        h3.post__heading Проведение пуско-наладочных работ
                        p.
                            <strong>Осуществляем проведение шеф-монтажных и&nbsp;пусконаладочных работ.</strong>
                        p.
                            Пуско-наладка оборудования собственного производства выполняется силами производственного подразделения организации,
                            а&nbsp;импортного оборудования&nbsp;&mdash; силами производственного подразделения организации и/или предприятий-партнеров,
                            производителей оборудования.
                    article.post.post--no-space.post-list__item
                        h3.post__heading Обучение персонала заказчика
                        p.
                            <strong>Осуществляем производственное обучение технического персонала заказчиков работе на&nbsp;поставляемом оборудовании</strong>, согласно эксплуатационной документации на&nbsp;него.
                            Обучение проводится одним из&nbsp;следующих способов:
                        ul
                            li на&nbsp;территории производственного подразделения организации, с&nbsp;совмещением обучения с&nbsp;приемкой представителями заказчика, произведенного для него нашей организацией оборудования;
                            li у&nbsp;заказчика, с&nbsp;совмещением обучения с&nbsp;проведением пуско-наладочных работ.
                    article.post.post-list__item
                        h3.post__heading Капитальный ремонт оборудования
                        p.
                            <strong>Осуществляем капитальный ремонт всего поставляемого оборудования, в&nbsp;том числе импортного.</strong>
                        p.
                            Ремонт производится только на&nbsp;территории производственно- технического подразделения организации,
                            что позволяет выполнить все работы согласно установленным регламентам и&nbsp;гарантировать соответствие отремонтированного
                            оборудования установленным для него техническим требованиям. На&nbsp;все капитально отремонтированное оборудование
                            предоставляется гарантия. Гарантийный срок 6&nbsp;месяцевния с&nbsp;проведением пуско-наладочных работ.
                    article.post.post-list__item
                        h3.post__heading Доставка
                        p.
                            <strong>Осуществляем доставку заказчику оборудования и&nbsp;запасных частей в&nbsp;любой адрес</strong> на&nbsp;территории&nbsp;РФ, а&nbsp;также в&nbsp;любые зарубежные страны следующими способами:

                        ul
                            li вывоз наемным автотранспортом (в&nbsp;том числе TIR);
                            li транспортными компаниями, по&nbsp;выбору заказчика, до&nbsp;терминала&nbsp;ТК или по&nbsp;указанному адресу.к 6&nbsp;месяцевния с&nbsp;проведением пуск
