extends ./templates/template

block vars
    - var pageTitle = 'Продмаш'
    - var pageId = 4

block content
    main.content
        .content__wrap
            +breadcrumbs({
                mix: 'content__breadcrumbs',
                items: ['Главная','Новости', 'Машина закаточная полуавтоматическая УЗН-03']
            })
            article.article
                h1 Машина закаточная полуавтоматическая УЗН-03
                p.float-right
                    img(src='assets/upload/image01.jpg' alt='Фото оборудования' width='375')
                p
                    strong
                        | УЗН-03 – полуавтоматическая настольная закаточная машина для предприятий консервной промышленности малой мощности
                    |
                    | (мини-заводов).
                p
                    | УЗН-03 является исполнением закаточной машины УЗН  предназначенным для закатывания крупной тары.
                    |
                    br
                    | Машина производит герметичное укупоривание металлическими крышками методом обкатки (закатывания) металлических консервных банок № 14
                    |
                    | по ГОСТ 5981-2011 (внутренний диаметр банки – 153,1 мм);
                    |
                    br
                    | В настоящее время изучается вопрос о возможности использования машины этого исполнения для закатывания банок № 47
                    |
                    | по ГОСТ 5981-2011 (также с внутренним диаметром 153,1 мм, но большей высоты);
                h3 Закатывание банок выполняется в следующем
                ol
                    li Наполненная банка, предварительно накрытая крышкой, устанавливается на поджимной стол
                    li Опусканием рычага производится перемещение поджимного стола в верхнее положение, крышка надевается на патрон
                    li Происходит полуавтоматический цикл закатывания банк
                    li Перемещением рычага в исходное положение производится опускание поджимного стола
                    li Укупоренная банка снимается и перемещается на цеховое накопительное или транспортное устройство
                p
                    | При выпуске машина налаживается на заданную толщину  металла.
                    |
                    br
                    | Переналадка машины для закатывания банок из жести другой толщины, производится путем замены комплекта закаточных роликов.
                    |
                    br
                    | Машина обслуживается одним оператором-станочником.
                    |
                    br
                    | Конструкция машины отвечает всем требованиям безопасности, установленным действующим законодательством. Для предотвращения случайного контакта рук оператора с вращающимися частями зона закатывания ограждена стационарным кожухом.
                h3 Основные технические характеристики:
                table
                    tr
                        th Наименование
                        th Значение
                    tr
                        td производительность, банок/мин
                        td до 10
                    tr
                        td установленная мощность электродвигателя, кВт
                        td 0,55
                    tr
                        td род и характеристика тока питания
                        td от 3-х проводной сети переменного тока 220 В, 50 Гц
                    tr
                        td масса, кг, не более
                        td 55 кг
