extends ./templates/template

block vars
    - var pageTitle = 'Продмаш'
    //- - var pageId = 1

block content
    main.content.content--no-pads-bottom
        .content__wrap
            h1.content__heading О компании
        +about-intro({
            mix: 'content__about-intro',
        })
        +about-prod({
            mix: 'content__about-prod',
        })
        +lead-w-text({
            mix: 'content__about-lead',
            image: 'about-lead.jpg',
            text: '<p>Производственно-техническое подразделение укомплектовано высоко-квалифицированными кадрами, имеющими большой опыт работы в машиностроительном производстве.</p>',
            textLead: '<p>Оборудование изготавливается по разработанной своими силами или приобретенной отработанной документации.</p>'
        })
        .content__wrap
            .content__two-column.content__two-column--text-justify
                p Вся конструкторская и технологическая документация разрабатывается с применением современных систем автоматизированного проектирования.
                p Высокая надежность и долговечность обеспечивается тщательным подбором материалов и их термической обработкой.
                p Рабочие органы и ответственные детали выпускаемого оборудования изготавливаются из коррозионно-стойких материалов (нержавеющей стали, бронзы полиамида).
                p Значительная часть оборудования выпускается в нержавеющем исполнении.
                p Для изготовления приводов и систем управления используются в основном электрооборудование и компоненты производства ведущих мировых и отечественных фирм.
                p Производственное подразделение располагает станочным парком, позволяющим обрабатывать как небольшие, так и крупногабаритные детали, обеспечивая точность, чистоту поверхности и твердость, установленные конструкторской документацией.
                p Предприятие имеет оборудование для резки заготовок, их токарной  и фрезерной обработки (в том числе с применением станков с ЧПУ), шлифования и полировки,  сверления и нарезания резьбы, термической обработки.
                p Разнообразное оборудование для выполнения операций фрезерования зубьев, долбления и протяжки, позволяет изготавливать  цилиндрические и конические шестерни с прямыми и косыми зубьями, шлицевые и шпоночные соединения и т.д.
                p Отдельные операции, такие как отливка корпусных деталей и получение гальванических покрытий выполняется по кооперации на предприятиях-партнерах, с проведением тщательной проверки качества работ.
                p На сборочном участке производится сборка узлов и машин, их наладка, регулировка, опробование, обкатка и проведение приемо-сдаточных испытаний.
                p Готовые изделия окрашиваются высококачественными красками, консервируются, упаковываются в транспортную тару и отправляются заказчикам.
                p 3 Оборудование собственного производства выпускается по НД, зарегистрированной органами Росстандарта, и декларируется на соответствие распространяющимся на него техническим регламентам (ТР ТС).
                p Изготовление оборудования осуществляется согласно комплектам конструкторской и технологической документации, утвержденной в установленном порядке.
        +about-features({
            mix: 'content__about-features',
        })
        +dealer({
            mix: 'content__about-dealer',
            heading: 'Наша организация является официальным дилером фирм:',
            items: aboutDealer,
        })
        +teaser({

        })
            p
                |ООО «ТД «ПРОДМАШ ТЕХСЕРВИС»
                |
                br
                | обеспечивает декларирование всего поставляемого импортного оборудования
