.content {
  padding-top: 45px;
  padding-bottom: 30px;

  &--no-pads-bottom {
    padding-bottom: 0 !important;
  }
}

.content__wrap {
  @include wrapper;
}

.content__breadcrumbs {

}

.content__heading {
  margin-bottom: 30px;
  text-align: center;
}

.content__pagination {
  &--space-before {
    margin-top: 20px;
  }

  &--space-after {
    margin-bottom: 40px;
  }
}

.content__button-bottom-wrap {
  display: flex;
  justify-content: center;
}

.content__button-bottom {
  width: 100%;
}


.content__contacts {
  // margin-bottom: 50px;
}

.content__catalog-nav {
  margin-bottom: 20px;
}

@include respond-to(small-lg) {
  .content__heading {
    text-align: left;
  }
}

@include respond-to(medium) {
  .content {
    padding-top: 55px;
    padding-bottom: 40px;
  }

  .content__with-aside,
  .content__brends,
  .content__assortiment,
  .content__view {
    margin-bottom: 40px;
  }

  .content__heading {
    margin-bottom: 40px;
    text-align: left;
  }
}

@include respond-to(large) {
  .content {
    padding-top: 65px;
    padding-bottom: 50px;
  }

  .content__heading {
    margin-bottom: 50px;
  }
}
