.button-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #e3e7e6;

  @include hover {
    .button-control__icon {
      fill: color(dark-gray);
    }
  }

  &--prev {
    .button-control__icon {
      transform: rotate(180deg);
    }
  }
}

.button-control__icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: color(white);
}
