.control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    display: block;
    border-top: 2px solid;
    border-right: 2px solid;
    transform-origin: center;
    transition: duration(md) func(primary);
  }

  &--prev {
    &::after {
      transform: translate(25%) rotate(-135deg);
    }
  }

  &--next {
    &::after {
      transform: translate(-25%) rotate(45deg);
    }
  }

  &--top {
    &::after {
      transform: translateY(-25%) rotate(-45deg);
    }
  }

  &--down {
    &::after {
      transform: translateY(25%) rotate(135deg);
    }
  }

  &--medium {
    width: 28px;
    height: 28px;

    &::after {
      width: 9px;
      height: 9px;
    }
  }

  &--large {
    width: 32px;
    height: 32px;

    &::after {
      width: 10px;
      height: 10px;
    }
  }

  &--bg-gray {
    background-color: #e3e7e6;

    &::after {
      border-top-color: color(white);
      border-right-color: color(white);
    }

    @include hover {
      &::after {
        border-top-color: color(black);
        border-right-color: color(black);
      }
    }

    &:disabled,
    &.disabled {
      pointer-events: none;
      opacity: 0.6;

      &::after {
        border-top-color: color(white);
        border-right-color: color(white);
      }
    }
  }

  &--bg-transparent {
    &::after {
      border-top-color: color(black);
      border-right-color: color(black);
    }

    @include hover {
      opacity: 0.6;
    }

    &:disabled,
    &.disabled {
      opacity: 0.2;
    }
  }
}
