.field {
  display: block;
  width: 100%;

  &--with-icon {
    position: relative;

    .field__input {
      padding-left: 64px;
    }
  }
}

.field__label {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  color: color(gray);
}

.field__input {
  display: block;
  width: 100%;
  height: 44px;
  min-height: 44px;
  padding: 12px 20px;
  border: none;
  border-radius: radius(sm);
  background-color: color(white);
  color: color(black);
  font-size: 16px;
  line-height: 20px;
  caret-color: color(black);
  outline: none;

  &::placeholder {
    font-size: 14px;
    color: color(dark-gray);
  }

  &:hover,
  &:focus,
  &.active {
    ~ .field__icon-wrap {
      .field__icon {
        fill: color(primary);
      }
    }
  }

  &--error:not(:focus) {
    border: 1px solid color(error);
    color: color(error);

    ~ .field__label {
      color: color(error);
    }
  }
}

.field__icon-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 100%;
  border-right: 1px solid color(light-gray);
}

.field__icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: color(dark-gray);
}

@include respond-to(medium) {
  .field {
    &--with-icon {
      .field__input {
        padding-left: 68px;
      }
    }
  }

  .field__input {
    height: 48px;
    min-height: 48px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .field__icon-wrap {
    width: 48px;
  }

  .field__icon {
    width: 17px;
    height: 17px;
  }
}

@include respond-to(large) {
  .field {
    &--with-icon {
      .field__input {
        padding-left: 72px;
      }
    }
  }

  .field__input {
    height: 52px;
    min-height: 52px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .field__icon-wrap {
    width: 52px;
  }

  .field__icon {
    width: 18px;
    height: 18px;
  }
}
