.field {
  position: relative;
  display: block;
  width: 100%;
  border-radius: radius(sm);
  overflow: hidden;

  &--with-icon {
    position: relative;

    .field__input {
      padding-left: 64px;
    }
  }

  &--border-transparent {
    .field__input {
      border-color: transparent;
    }
  }
}

.field__label {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  color: color(gray);
}

.field__input {
  position: relative;
  display: block;
  width: 100%;
  height: 52px;
  min-height: 52px;
  padding: 16px 20px;
  border: 1px solid color(light-gray);
  border-radius: radius(sm);
  background-color: color(white);
  color: color(black);
  font-size: 16px;
  line-height: 20px;
  outline: none;
  transition: duration(md) func(primary);

  &::placeholder {
    font-size: 14px;
    color: color(dark-gray);
  }

  &:hover,
  &:focus,
  &.active {
    ~ .field__line {
      width: 100%;
    }
  }

  &--error:not(:focus) {
    border: 1px solid color(error);
    color: color(error);

    ~ .field__label {
      color: color(error);
    }
  }
}

.field__icon-wrap {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  width: 50px;
  border-right: 1px solid color(light-gray);
}

.field__icon {
  position: absolute;
  top: 17px;
  left: 17px;
  display: block;
  width: 16px;
  height: 16px;
  fill: color(dark-gray);
}

.field__line {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 3px;
  background: color(primary);
  transition: duration(md) func(primary);
}
