.form__group {
  margin-bottom: 30px;
}

.form__field {
  margin-bottom: 20px;
}

.form__submit-wrap {
  margin-bottom: 20px;
  text-align: center;
}

.form__submit {
  display: inline-block;
  width: 100%;
  max-width: 340px;
  cursor: pointer;
  font-size: 18px;
}

.form__confirm-wrap {
  text-align: center;
}

@include respond-to(medium) {
  .form__group {
    margin-bottom: 50px;
  }

  .form__field {
    margin-bottom: 30px;
  }

  .form__submit-wrap {
    margin-bottom: 27px;
  }

  .form__submit {
    width: auto;
    max-width: none;
    min-width: 260px;
  }
}
