.header {
  border-bottom: 1px solid color(light);
}

.header__wrap {
  @include wrapper;
}

.header__top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: 52px;
  padding: 8px 0;
  border-bottom: 1px solid color(border);
  background-color: color(white);
  color: color(black);

  &.active {
    border-bottom: none;
    box-shadow: 0 0 15px 0 rgba(#6d6f7b, 0.3);

    .header__logo-small {
      display: block;
    }
  }
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top-column {
  flex-shrink: 0;
  width: calc(50% - 33px);
}

.header__logo-small {
  display: none;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  margin: 0 15px;

  &.active {
    display: block;
  }
}

.header__list {
  display: flex;
  margin: 0;
  padding: 0;

  &--top {
    justify-content: flex-end;
  }

  &--middle {
    display: none;
  }
}

.header__item {
  margin-bottom: 0;
  margin-right: 10px;
  text-align: center;
  @include list-no;

  &:last-child {
    margin-right: 0;
  }
}

.header__middle {
  padding-top: 80px;
  padding-bottom: 20px;
}

.header__logo {
  margin: 0 auto;
  margin-bottom: 15px;
}

.header__info {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
}

.header__address {
  font-size: 14px;
  line-height: 18px;

  &--middle {
    display: none;
  }

  &--bottom {
    margin-top: auto;
    padding: 0 30px;
    padding-top: 20px;
    border-top: 1px solid color(border);
    margin-bottom: 20px;
  }
}

.header__contacts {
  line-height: 18px;

  &--middle {
    display: none;
  }

  &--bottom {
    padding: 0 30px;
  }
}

.header__email {
  display: block;
  color: color(black);
  font-size: 14px;
  line-height: inherit;
  text-decoration: none;
}

.header__bottom {
  position: relative;
  z-index: 12;
}

.header__dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  padding: 40px 0;
  background-color: color(white);
  overflow-y: auto;
  transition: duration(md) func(primary);

  &.active {
    transform: translateX(0%);
  }
}

.header__button-close {
  position: absolute;
  top: 0;
  right: 0;
}

.header__main-nav {
  margin-bottom: 20px;
}

.header__overlay {
  z-index: 11;
}

// .header__search {
//   display: none;
//   margin-top: 20px;
//
//   &.active {
//     display: block;
//   }
// }

@include respond-to(small-lg) {
  .header__middle-inner {
    display: flex;
    align-items: center;
  }

  .header__logo {
    flex-shrink: 0;
    margin: 0;
    margin-right: 35px;
  }

  .header__info {
    text-align: left;
  }
}

@include respond-to(medium) {
  .header__address {
    &--middle {
      display: block;
      margin-left: auto;
    }

  }
}

@include respond-to(medium-lg) {
  .header__contacts {
    &--middle {
      display: block;
      margin-left: 30px;
    }
  }
}

@include respond-to(large) {
  .header {
    border-bottom: none;
  }

  .header__top {
    display: none;
  }

  .header__middle {
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid color(border);
  }

  .header__contacts {
    line-height: 20px;

    &--bottom {
      display: none;
    }
  }

  .header__address {
    &--bottom {
      display: none;
    }
  }

  .header__list {
    flex-shrink: 0;

    &--middle {
      display: flex;
      margin-left: auto;
    }
  }

  .header__item {
    margin-right: 14px;
  }

  .header__bottom {
    box-shadow: 0 6px 15px 0 rgba(#6d6f7b, 0.2);
  }

  .header__dialog {
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    transform: none;
    display: block;
    width: 100%;
    max-width: none;
    height: auto;
    padding: 0;
    overflow-y: visible;
    transition: none;
  }

  .header__button-close {
    display: none;
  }

  .header__main-nav {
    margin-bottom: 0;
  }
}
