.article {
	@include first-last;

  img {
    display: inline-block;
    border: 1px solid color(light-border);
  }
}

@include respond-to(medium-lg) {
  .article {
    .float-left {
      float: left;
      margin-right: 30px;
    }

    .float-right {
      float: right;
      margin-left: 30px;
    }
  }
}

@include respond-to(large) {
  .article {

  }
}
