.content {
  display: flex;
  flex-direction: column;
  padding-top: 35px;

  &--news-list {
    padding-bottom: 0 !important;

    .content__wrap {
      margin-bottom: 30px;
    }
  }
}

.content__wrap {
  @include wrapper;
}

.content__breadcrumbs {
  margin-top: -20px;
  margin-bottom: 30px;
}

.content__heading {
  text-align: center;
  margin-bottom: 30px;
}

.content__two-column {
  margin-bottom: 30px;

  h2 {
    page-break-before: always;
    page-break-after: avoid;
  }

  h3, h4 {
    page-break-after: avoid;
  }

  p {
    break-inside: auto;
  }

  blockquote {
    margin: 0;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &--text-justify {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 6 4 4;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;

    p {
      margin-bottom: 0;
    }
  }
}


.content__pagination {
  margin-top: 30px;
  margin-bottom: 30px;
}

.content__button-bottom-wrap {
  display: flex;
  justify-content: center;
}

.content__button-bottom {
  width: 100%;
}

.content__catalog {
  margin-top: -15px;
}

.content__lead {
  margin-bottom: 30px;
}

.content__posts {
  margin-bottom: 30px;
}

.content__about-intro {
  margin-bottom: 30px;
}

.content__about-prod {
  margin-bottom: 30px;
}

.content__about-lead {
  margin-bottom: 30px;
}

.content__about-features {
  margin-bottom: 30px;
}

@include respond-to(small-lg) {
  .content__heading {
    text-align: left;
  }
}

@include respond-to(medium) {
  .content {
    padding-top: 55px;

    &--news-list {
      .content__wrap {
        margin-bottom: 40px;
      }
    }
  }

  .content__breadcrumbs {
    margin-top: -35px;
  }

  .content__heading {
    margin-bottom: 40px;
    text-align: left;
  }

  .content__pagination {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .content__two-column {
    margin-bottom: 35px;
    column-count: 2;
    column-gap: 30px;
  }

  .content__lead {
    margin-bottom: 60px;
  }

  .content__posts {
    margin-bottom: 60px;
  }

  .content__about-intro {
    margin-bottom: 40px;
  }

  .content__about-prod {
    margin-bottom: 50px;
  }

  .content__about-lead {
    margin-bottom: 40px;
  }

  .content__about-features {
    margin-bottom: 40px;
  }
}

@include respond-to(large) {
  .content {
    padding-top: 65px;

    &--news-list {
      .content__wrap {
        margin-bottom: 50px;
      }
    }
  }

  .content__heading {
    margin-bottom: 50px;
  }

  .content__two-column {
    margin-bottom: 40px;
  }

  .content__pagination {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .content__lead {
    margin-bottom: 110px;
  }

  .content__posts {
    margin-bottom: 70px;
  }

  .content__about-intro {
    margin-bottom: 50px;
  }

  .content__about-prod {
    margin-bottom: 70px;
  }

  .content__about-lead {
    margin-bottom: 50px;
  }

  .content__about-features {
    margin-bottom: 50px;
  }
}
