mixin catalog-nav-link(data)
    +el({
        tag: 'li',
        class: 'catalog-nav__item',
        mix: data.mix,
        js: data.js,
        mod: data.mod
    })
        +el({
            tag: 'a',
            class: 'catalog-nav__link',
            text: data.text,
            href: data.href
        })&attributes(attributes)

mixin catalog-nav-tab(data)
    +el({
        tag: 'li',
        class: 'catalog-nav__item',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })
        +el({
            tag: 'button',
            class: 'catalog-nav__link',
            text: data.text,
            js: data.jsLink,
        })&attributes(attributes)

mixin catalog-nav(data)
    +el({
        class: 'catalog-nav',
        mix: data.mix,
        js: data.js,
        mod: data.mod,
    })&attributes(attributes)
        +el({
            tag: 'ul',
            class: 'catalog-nav__list',
        })
            block
        +el({
            mix: 'catalog-nav__button',
            text: 'Смотреть больше',
            cross: true,
            js: 'show-button',
        })
