include ./el.pug
include ./head.pug
include ./scripts.pug
include ./data/data-main-nav
include ./data/data-social
include ./data/data-process
include ./data/data-statistic
include ./data/data-service
include ./data/data-features
include ./data/data-catalog-nav
include ./data/data-catalog-slider

//- include ./data/data-aside-nav
//- include ./data/data-brends
//- include ./data/data-equipment
include ./data/data-news
include ./data/data-about

//- include ./data/data-reviews
//- include ./data/data-assortiment
//- include ./data/data-specification
//- include ./data/data-shedule

include ../blocks/button-icon/button-icon.pug
include ../blocks/button/button.pug
include ../blocks/logo/logo.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/header/header.pug
include ../blocks/social/social.pug
include ../blocks/callback/callback.pug
include ../blocks/search/search.pug
include ../blocks/callback/callback.pug
include ../blocks/form/f.pug
include ../blocks/form/form.pug
include ../blocks/field/field.pug
include ../blocks/button-nav/button-nav.pug
include ../blocks/button-nav/button-nav.pug
include ../blocks/button-down/button-down.pug
include ../blocks/control/control.pug
include ../blocks/button-close/button-close.pug
include ../blocks/checkbox-confirm/checkbox-confirm.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/phone/phone.pug
include ../blocks/overlay/overlay.pug
include ../blocks/intro/intro.pug
include ../blocks/footer/footer.pug
include ../blocks/process-item/process-item.pug
include ../blocks/process/process.pug
include ../blocks/process-circle/process-circle.pug
include ../blocks/circle-small/circle-small.pug
include ../blocks/circle-large/circle-large.pug
include ../blocks/statistic/statistic.pug
include ../blocks/statistic-item/statistic-item.pug
include ../blocks/statistic-circle/statistic-circle.pug
include ../blocks/service/service.pug
include ../blocks/service-item/service-item.pug
include ../blocks/service-circle/service-circle.pug
include ../blocks/writeus/writeus.pug
include ../blocks/features/features.pug
include ../blocks/features-item/features-item.pug
include ../blocks/catalog-nav/catalog-nav.pug
include ../blocks/catalog-slider/catalog-slider.pug
include ../blocks/catalog-item/catalog-item.pug
include ../blocks/catalog-main/catalog-main.pug
include ../blocks/map/map.pug
include ../blocks/news-list/news-list.pug
include ../blocks/news-card/news-card.pug
include ../blocks/date/date.pug
include ../blocks/pagination/pagination.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/modal/modal.pug
include ../blocks/search/search.pug
include ../blocks/catalog-list/catalog-list.pug
include ../blocks/catalog/catalog.pug
include ../blocks/main-nav-lvl-2/main-nav-lvl-2.pug
include ../blocks/equipment-info/equipment-info.pug
include ../blocks/equipment-descr/equipment-descr.pug
include ../blocks/equipment-review/equipment-review.pug
include ../blocks/lead/lead.pug
include ../blocks/post-list/post-list.pug
include ../blocks/post/post.pug
include ../blocks/about-intro/about-intro.pug
include ../blocks/item-w-border/item-w-border.pug
include ../blocks/about-descr/about-descr.pug
include ../blocks/item-w-arrow/item-w-arrow.pug
include ../blocks/about-prod/about-prod.pug
include ../blocks/about-lead/about-lead.pug
include ../blocks/lead-w-text/lead-w-text.pug
include ../blocks/about-service/about-service.pug
include ../blocks/about-features/about-features.pug
include ../blocks/dealer/dealer.pug
include ../blocks/dealer-item/dealer-item.pug
include ../blocks/teaser/teaser.pug
