mixin statistic-item(data)
    +el({
        class: 'statistic-item',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        +statistic-circle({
            mod: data.circle.mod,
            text: {
                small: data.circle.text.small,
                large: data.circle.text.large
            },
            mix: 'statistic-item__circle',
        })
        +el({
            tag: 'span',
            class: 'statistic-item__text',
            text: data.text
        })
