ul,
ol {
  list-style-position: inside;
}

ol {
  list-style-type: none;
  counter-reset: list;

  li {
    &::before {
      counter-increment: list;
      content: counter(list) ") ";
    }
  }
}

ul {
  li {
    list-style-type: disc;
  }
}
