mixin lead-w-text(data)
    +el({
        class: 'lead-w-text',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .lead-w-text__wrap
            +el({
                class: 'lead-w-text__text',
                text: data.text,
            })
            +el({
                class: 'lead-w-text__lead',
            })
                +el({
                    class: 'lead-w-text__image-wrap',
                })
                    +el({
                        tag: 'img',
                        class: 'lead-w-text__image',
                        image: data.image,
                        alt: 'Фото оборудования'
                    })
                .lead-w-text__lead-text
                    | !{data.textLead}
