mixin search(data)
    +el({
        class: 'search',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +f({})
            +el({
                tag: 'input',
                type: 'search',
                mix: 'search__field',
                placeholder: 'Поиск',
            })
            +button-icon({
                mix: 'search__button',
                type: 'submit',
                icon: 'search',
                mod: 'bg-gray',
                js: 'search-submit'
            })
