mixin features(data)
    +el({
        tag: 'section',
        class: 'features',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .features__wrap
            h2.hidden Наши преимущества
            svg.hidden(xmlns="http://www.w3.org/2000/svg" )
                defs
                    filter#filtersPicture
                        feComposite(result="inputTo_38" in="SourceGraphic" in2="SourceGraphic" operator="arithmetic" k1="0" k2="1" k3="0" k4="0")
                        feColorMatrix(type="saturate" values="0" data-filterid="38")
            +el({
                tag: 'ul',
                class: 'features__list',
            })
                each item, index in data.items
                    +el({
                        tag: 'li',
                        class: 'features__item',
                    })

                        +features-item({
                            mod: item.mod,
                            text: item.text,
                            style: item.style,
                            image: item.image
                        })
