.js-tabs-content {
  max-height: 0;
  overflow: hidden;

  &.active {
    max-height: 9999px;
  }
}

.js-tabs-small-content {
  max-height: 0;
  overflow: hidden;

  &.active {
    max-height: 9999px;
  }
}

.js-show-3-items {
  .js-show-item {
    &:nth-child(n+4) {
      display: none;
    }
  }

  &.active {
    .js-show-item {
      &:nth-child(n+4) {
        display: block !important;
      }
    }
  }
}

.js-show-2-items {
  .js-show-item {
    &:nth-child(n+3) {
      display: none;
    }
  }

  &.active {
    .js-show-item {
      &:nth-child(n+3) {
        display: block !important;
      }
    }
  }
}


@include respond-to(medium) {
  .js-tabs-small-content {
    max-height: none;
    overflow: visible;

    &.active {
      max-height: none;
    }
  }
}
