mixin process(data)
    +el({
        tag: 'section',
        class: 'process',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .process__wrap
            h2.hidden Процесс приобретения оборудования
            +el({
                tag: 'ol',
                class: 'process__list',
            })
                each item, index in data.items
                    +el({
                        tag: 'li',
                        class: 'process__item',
                    })
                        +process-item({
                            mod: item.mod,
                            circle: {
                                icon: item.circle.icon,
                                mod: item.circle.mod,
                            },
                            text: item.text
                        })
