table {
  width: auto;
  margin-bottom: 20px;
  border-collapse: collapse;

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

tr {
  &:nth-child(2n) {
    td {
      background-color: #f7f7f7;
    }
  }
}

th,
td {
  padding: 12px;
  border: 1px solid color(light-border);
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  hyphenate-limit-chars: 6 4 4;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

th {
  font-weight: 500;
}

td {
  font-weight: 400;
}

@include respond-to(medium) {

}

@include respond-to(large) {

}
