mixin teaser(data)
    +el({
        class: 'teaser',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .teaser__wrap
            .teaser__text
                block
