- heading01 = 'Машина закаточная полуавтоматическая УЗН-03'
- heading02 = 'Изготовление шестерен на заказ'
- heading03 = 'Классификация закаточных машин'
- image01 = 'news01.jpg'
- image02 = 'news02.jpg'
- image03 = 'news03.jpg'
- text = 'УЗН-03 – полуавтоматическая настольная закаточная машина для предприятий настольная закаточная машина для предприятий'
- date = '08 апреля 2019'

-
    var news = [
        {
            image: image01,
            date: date,
            heading: heading01,
            text: text,
        },
        {
            image: image02,
            date: date,
            heading: heading02,
            text: text,
        },
        {
            image: image03,
            date: date,
            heading: heading03,
            text: text,
        },
        {
            image: image03,
            date: date,
            heading: heading03,
            text: text,
        },
        {
            image: image01,
            date: date,
            heading: heading01,
            text: text,
        },
        {
            image: image02,
            date: date,
            heading: heading02,
            text: text,
        },
        {
            image: image02,
            date: date,
            heading: heading02,
            text: text,
        },
        {
            image: image03,
            date: date,
            heading: heading03,
            text: text,
        },
        {
            image: image01,
            date: date,
            heading: heading01,
            text: text,
        },
    ];
