-
    var catalogNav = [
        {
            text: 'Автоматические закаточные машины',
        },
        {
            text: 'Полуавтоматические закаточные машины',
        },
        {
            text: 'Укупорочные машины',
        },
        {
            text: 'Агрегаты дозировочно-закаточные',
        },
        {
            text: 'Дозировочно-наполнительные машины',
        },
        {
            text: 'Запчасти для закаточных машин',
        },
        {
            text: 'Импортное оборудование',
        },
    ];
