-
    var mainNav = [
        {
            text: 'О компании',
            href: 'page-about.html',
        },
        {
            text: 'Оборудование',
            href: 'page-equipment.html',
        },
        {
            text: 'Услуги',
            href: 'page-service.html',
        },
        {
            text: 'Новости',
            href: 'page-news.html',
        },
        {
            text: 'Статьи',
            href: 'page-posts.html',
        },
        {
            text: 'Контакты',
            href: 'page-contacts.html',
        },
    ];
