-
    var mainNav = [
        {
            text: 'О компании',
            href: 'page-about.html',
        },
        {
            text: 'Оборудование',
            href: 'page-equipment.html',
            mod: 'lvl-2',
            tag: 'button',
            js: 'main-nav-dropdown',
            jsLink: 'main-nav-dropdown-button',
            items: [
                {
                    text: 'Оборудование собственного производства',
                },
                {
                    text: 'Импортное оборудование',
                },
            ]
        },
        {
            text: 'Услуги',
            href: 'page-service.html',
            mod: 'lvl-2',
            tag: 'button',
            js: 'main-nav-dropdown',
            jsLink: 'main-nav-dropdown-button',
            items: [
                {
                    text: 'Оборудование собственного производства',
                },
                {
                    text: 'Импортное оборудование',
                },
            ]
        },
        {
            text: 'Новости',
            href: 'page-news.html',
        },
        {
            text: 'Статьи',
            href: 'page-posts.html',
        },
        {
            text: 'Контакты',
            href: 'page-contacts.html',
        },
    ];
