-
    var service = [
        {
            circle: {
                icon: 'service01',
            },
            text: 'Обучаем персонал работе <br>на оборудовании, согласно <br>эксплуатационной документации',
        },
        {
            circle: {
                icon: 'service02',
            },
            text: 'Осуществляем проведение <br>шеф-монтажных <br>и пусконаладочных работ',
        },
        {
            circle: {
                icon: 'service03',
            },
            text: 'Поставляем <br>любые <br>запасные части',
        },
        {
            circle: {
                icon: 'service04',
            },
            text: 'Поставляем <br>любые <br>запасные части',
        },
    ]
