-
    var process = [
        {
            circle: {
                icon: 'process01',
            },
            text: 'Оформление заказа',
        },
        {
            circle: {
                icon: 'process02',
                mod: 'to-right-shift'
            },
            text: 'Оформление, согласование <br>и подписание документов',
        },
        {
            circle: {
                icon: 'process03',
            },
            text: 'Оплата заказа',
        },
        {
            circle: {
                icon: 'process04',
            },
            text: 'Организация доставки <br>ТК до Заказчика',
        },
        {
            circle: {
                icon: 'process05',
            },
            text: 'Гарантия и поставка <br>запасных частей',
        },
    ];
