-
    var features = [
        {
            text: 'Собственное производство',
            mod: 'production',
            image: 'features-production.jpg'
        },
        {
            text: 'Официальный&nbsp;дилер импортного оборудования',
            mod: 'dealer',
            image: 'features-dealer.jpg'
        },
        {
            text: 'Высоко&shy;квалифицированные кадры',
            mod: 'personal',
            image: 'features-personal.jpg'
        }
    ];
