-
    var catalogSlider = [
        {
            heading: 'Автомат закаточный для металлических банок Б4-К3К-79',
            image: 'catalog-item01.jpg',
        },
        {
            heading: 'Автоматическая вакуумзакаточная машина Б4-КЗК-84А',
            image: 'catalog-item02.jpg',
        },
        {
            heading: 'Автомат закаточный для металлических банок Б4-КЗК-80А',
            image: 'catalog-item03.jpg',
        },
        {
            heading: 'Автомат закаточный для металлических банок Б4-КЗК-80А',
            image: 'catalog-item02.jpg',
        },
    ];
