-
    var statistic = [
        {
            circle: {
                text: {
                    small: 'около',
                    large: '50'
                }
            },
            text: 'полуавтоматических <br>и автоматических машин <br>выпускаем в год',
        },
        {
            circle: {
                text: {
                    small: 'более',
                    large: '100'
                }
            },
            text: 'предприятий <br>работают на нашем <br>оборудовании',
        },
    ];
