-
    var asideNav = [
        {
            text: 'Автоматические закаточные машины',
            mix: 'active',
        },
        {
            text: 'Полуавтоматические закаточные машины',
        },
        {
            text: 'Укупорочные машины',
        },
        {
            text: 'Агрегаты дозировочно-закаточные',
        },
        {
            text: 'Дозировочно-наполнительные машины',
        },
        {
            text: 'Запчасти для закаточных машин',
        },
        {
            text: 'Самосвалы Moxy',
        },
        {
            text: 'Разрушители зданий',
        },
        {
            text: 'Техника для уборки помещений',
        },
        {
            text: 'Прочее',
        }
    ]
