-
    var aboutIntroItems = [
        {
            text: '<p>Производство  закаточного, наполнительного и другого продовольственного оборудования, а также полной номенклатуры запасных и сменных частей для него</p>',
        },
        {
            text: '<p>Реализация запасных частей и комплектов сменных частей для поставляемого оборудования</p>',
        },
        {
            text: '<p>Реализация оборудования для пищевой промышленности, как собственного производства, так и импортного</p>',
        },
        {
            text: '<p>Разработка и постановка на производство нового и модернизация выпускаемого продовольственного оборудования</p>',
        },
    ]

-
    var aboutProdItems = [
        {
            heading: 'Конструкторскую службу',
        },
        {
            heading: 'Технологическую службу',
        },
        {
            heading: 'Машиностроительное производство',
            text: '(заготовительный участок, участки механической обработки, слесарно-сборочный участок, термический и окрасочный участки и пр.).',
        },
    ]

-
    var aboutFeatures = [
        {
            text: 'По проведению пусконаладочных работ и капитальному ремонту выпускаемого оборудования',
            image: 'features-view.jpg',
            mod: 'text-uppercase',
        },
        {
            text: 'По проведению пусконаладочных работ реализуемого импортного оборудования, силами предприятий партнеров',
            image: 'features-conveyor.jpg',
            mod: 'text-uppercase',
        },
    ];

-
    var aboutDealer = [
        {
            heading: 'MCG, Испания',
            text: '<p>производство высокопроизводительного закаточного и наполнительного оборудования для круглой и фигурной металлической консервной тары</p>',
        },
        {
            heading: 'Bakapro, Латвия',
            text: '<p>производство оборудования <br>для переработки рыбы</p> <p>Подробная информация приведена в разделе <a class="dealer-item__link" href="javascript:void(0)">«Импортное оборудование»</a></p>',
        },
    ];
