mixin header(data)
    +el({
        tag: 'header',
        class: 'header',
        mix: data.mix,
        mod: data.mod,
        js: 'header',
    })&attributes(attributes)
        .header__top.js-header-top
            .header__wrap
                .header__top-column
                    +button-nav({
                        mix: 'header__button-nav',
                        js: 'open-nav',
                    })
                +logo({
                    small: true,
                    mod: 'small',
                    mix: 'header__logo-small',
                    js: 'logo-small',
                })
                .header__top-column
                    ul.header__list.header__list--top
                        li.header__item
                            +button-icon({
                                mod: 'bg-gray',
                                icon: 'search',
                                title: 'Поиск',
                                js: 'search-sm-open',
                            })
                            .header__search-wrap.js-search-sm
                                +button-close({
                                    mix: 'header__search-close',
                                    title: 'Закрыть главное меню',
                                    js: 'close-search'
                                })
                                +search({
                                    mix: 'header__search',
                                })
                        li.header__item
                            +button-icon({
                                mod: 'bg-primary',
                                icon: 'phone',
                                title: 'Позвонить',
                                js: 'callback-button',
                            })
        .header__middle
            .header__wrap
                .header__middle-inner
                    +logo({
                        mix: 'header__logo'
                    })
                    .header__info
                        | Производство технологического <br>оборудования <br>для консервных производств
                    .header__address.header__address--middle
                        | Московская область <br>Люберецкий район <br>ул. Ленина, 52, оф. 324
                    ul.header__list.header__list--middle
                        li.header__item.header__item--search
                            +button-icon({
                                mod: 'bg-gray',
                                icon: 'search',
                                title: 'Поиск',
                                js: 'search-lg-open',
                            })
                            +search({
                                mix: 'header__search',
                                js: 'search-lg'
                            })
                        li.header__item
                            +button-icon({
                                mod: 'bg-primary',
                                icon: 'phone',
                                title: 'Позвонить',
                                js: 'callback-button',
                            })
                    .header__contacts.header__contacts--middle
                        +phone({
                            tag: 'a',
                            href: 'tel:+79295407124',
                            text: '+7 (929) <span class="phone__number">540-71-24</span>',
                        })
                        +phone({
                            tag: 'a',
                            href: 'tel:+74992816944',
                            text: '+7 (499) <span class="phone__number">281-69-44</span>',
                        })
                        +el({
                            tag: 'a',
                            href: 'mailto:tdpmts2016@mail.ru',
                            text: 'tdpmts2016@mail.ru',
                            class: 'header__email',
                        })
        .header__bottom
            .header__wrap
                nav.header__dialog.js-main-nav(aria-label='Основное меню' itemscope itemtype='http://schema.org/SiteNavigationElement')
                    +button-close({
                        mix: 'header__button-close',
                        title: 'Закрыть главное меню',
                        js: 'close-nav'
                    })
                    +main-nav({
                        items: mainNav,
                        mix: 'header__main-nav'
                    })
                    .header__address.header__address--bottom
                        | Московская область Люберецкий район ул. Ленина, 52, оф. 324
                    .header__contacts.header__contacts--bottom
                        +phone({
                            tag: 'a',
                            href: 'tel:+79295407124',
                            text: '+7 (929) <span class="phone__number">540-71-24</span>',
                        })
                        +phone({
                            tag: 'a',
                            href: 'tel:+74992816944',
                            text: '+7 (499) <span class="phone__number">281-69-44</span>',
                        })
                        +el({
                            tag: 'a',
                            href: 'mailto:tdpmts2016@mail.ru',
                            text: 'tdpmts2016@mail.ru',
                            class: 'header__email',
                        })
        +overlay({
            mix: 'header__overlay',
            js: 'main-nav-overlay'
        })
