.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .control {
    &--prev {
      margin-right: 30px;
    }

    &--next {
      margin-left: 30px;
    }
  }
}

.pagination__list {
  display: flex;
  align-items: center;
  @include ul-no;
  overflow: hidden;
}

.pagination__item {
  margin-bottom: 0;
  margin-right: 6px;
  font-size: 16px;
  font-weight: 500;
  color: color(black);
  line-height: 1;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    .pagination__link {
      color: color(primary);
      background-color: color(light);
    }
  }
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 8px;
  border-radius: 16px;
  text-decoration: none;

  @include hover {
    color: color(primary);
  }
}

@include respond-to(medium) {
  .pagination {
    .control {
      &--prev {
        margin-right: 60px;
      }

      &--next {
        margin-left: 60px;
      }
    }
  }

  .pagination__item {
    margin-right: 15px;
  }
}
