@mixin list-no {
  list-style: none;
}

@mixin ol-no {
  margin: 0;
  padding: 0;

  li {
    &::before {
      list-style-type: none;
      display: none;
    }
  }
}

@mixin ul-no {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}
