mixin equipment-descr(data)
    +el({
        tag: 'section',
        class: 'equipment-descr',
        mix: data.mix,
        js: data.js,
        mod: data.mod,
    })&attributes(attributes)
        h2.equipment-descr__heading Технические характеристики
        p.
            Также как постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит
            от направлений прогрессивного развития. И нет сомнений, что предприниматели в сети интернет являются
            только методом политического участия и функционально разнесены на независимые элементы. Таким образом,
            внедрение современных методик, в своем классическом представлении, допускает внедрение дальнейших направлений
            развития. Не следует, однако, забывать, что новая модель организационной деятельности влечет за собой
            процесс внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений.
            Ясность нашей позиции очевидна: новая модель организационной деятельности предполагает независимые
            способы реализации модели развития. И нет сомнений, что интерактивные прототипы являются только методом
            политического участия и преданы социально-демократической анафеме. Не следует, однако, забывать,
            что повышение уровня гражданского сознания играет определяющее значение для новых принципов формирования
            материально-технической и кадровой базы.
        p.
            Также как постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит
            от направлений прогрессивного развития. И нет сомнений, что предприниматели в сети интернет являются
            только методом политического участия и функционально разнесены на независимые элементы. Таким образом,
            внедрение современных методик, в своем классическом представлении, допускает внедрение дальнейших направлений
            развития. Не следует, однако, забывать, что новая модель организационной деятельности влечет за собой процесс
            внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений. Ясность нашей позиции
            очевидна: новая модель организационной деятельности предполагает независимые способы реализации модели развития.
            И нет сомнений, что интерактивные прототипы являются только методом политического участия и преданы
            социально-демократической анафеме. Не следует, однако, забывать, что повышение уровня гражданского сознания
            играет определяющее значение для новых принципов формирования материально-технической и кадровой базы.
        h3 Основные технические характеристики:
        table
            tr
                th Наименование
                th Значение
            tr
                td производительность, банок/мин
                td до 10
            tr
                td установленная мощность электродвигателя, кВт
                td 0,55
            tr
                td род и характеристика тока питания
                td от 3-х проводной сети переменного тока 220 В, 50 Гц
            tr
                td масса, кг, не более
                td 55 кг
